{% extends 'base.html' %}

<title>{% block title %}{% endblock %}</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: transparent; min-height:100%; color:white;">
    <div class="row">
        <div class="col-lg-1 col-sm-1 col-xs-0"></div>
        <div class="col-lg-10 col-sm-10 col-xs-12" style="margin-bottom: 30px;">
            <div class="row">
                <div class="col-lg-2 col-md-1"></div>
                <div class="col-lg-8 col-md-10">
                    <img src="/static/f-logo.png" class="logo">
                </div>
                <div class="col-lg-2 col-md-1"></div>
            </div>
            <div class="row">
                <h3 style="text-align:center;">Think you know words?? Think again!!!!</h3>
            </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-sm-1 col-xs-0"></div>
        <div class="col-lg-6 col-sm-5 col-xs-12">
            <div class="row" style="margin-top: 0;">
                <div class="col-lg-5 col-xs-12">
                    <h3 class="join-start">start game</h3>
                    <br/>
                    <form action="{{ url_for('home') }}" method="post">
                      <label class="input-label" for="username">name</label>
                      <br/>
                      <input class="input-style" name="username" id="username" maxlength="15" required />
                      <input class="btn-style" id="createBtn" type="submit" value="start">
                  </form>
                </div>
                <div class="col-lg-2 col-xs-12"></div>
                <div class="col-lg-5 col-xs-12">
                    <h3 class="join-start">join game</h3>
                    <br/>
                    <form action="{{ url_for('home') }}" method="post">
                      <label class="input-label" for="username_join">name</label>
                        <br/>
                      <input class="input-style" name="username_join" id="username_join" maxlength="15" required />
                        <br/>
                        <br/>
                      <label class="input-label" for="game_code">game code</label>
                        <br/>
                      <input class="input-style" name="game_code" id="game_code" required />
                        <br/>
                      <input class="btn-style" id="joinBtn" type="submit" value="join">
                    </form>
                </div>
            </div>
	    <div class="row" style="margin-top: 300px;">
		<form action="{{ url_for('home') }}" method="post">
			<label class="input-label" for="username">new word</label>
			<br/>
			<input class="input-style" name="add_word" id="add_word" required />
			<input class="btn-style" id="addWord" type="submit" value="add word">
		</form>
	    </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0"></div>
        <div class="col-lg-3 col-sm-4 col-xs-12 red-box" style="margin-top:100px">
            <h2>how to play</h2>
            <p class="instructions">What you do is make up a definition for the word you're presented with.
                Then you'll vote on which definition you think is right, and if someone votes for your definition or you vote for the dictionary definition, you get a point.
                If no one votes for your definition, you might want to rethink your life choices.
                <br/>
                There is a maximum of eight players per game because who has more friends than that anyway...
            </p>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-0"></div>
    </div>
    <div class="row" style="margin-bottom: 100px;"></div>
</body>
{% endblock %}
