{% extends 'base.html' %}

<title>{% block title %}{% endblock %}</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: transparent; min-height:100%; color:white;">
    <div class="row">
        <div class="col-lg-4 col-xs-0"></div>
        <div class="col-lg-4 col-xs-12">
            <h2 class="show-word">{{ word.word }}</h2>
        </div>
        <div class="col-lg-4 col-xs-0"></div>
    </div>
    <div id="showResultsBool" style="visibility:hidden">{{ show_results }}</div>
    <div class="row" style="margin-top: 50px;" id="showResultsID">
        <div class="col-lg-1 col-xs-0"></div>
        <div class="col-lg-6 col-sm-12" style="margin-bottom: 50px;">
            {% for definition in definitions %}
                <div class="row">
                    {% if definition == 'dictionary' %}
                    <div class="col-lg-9 col-sm-10 dict-definition-box">
                        <p>{{ definition }}</p>
                        <p>{{ definitions[definition][0].definition }}</p>
                    </div>
                    {% else %}
                    <div class="col-lg-9 col-sm-10 definition-box">
                        <p>{{ definition }}</p>
                        <p>{{ definitions[definition][0].definition }}</p>
                    </div>
                    {% endif %}
                    <div class="col-lg-3 col-sm-2" style="margin-top:10px">
                        {% if definitions[definition][1] in ("None", []) %}
                            <p>No votes :(</p>
                        {% else %}
                            {% for voter in definitions[definition][1] %}
                                <span>{{ voter }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <form action="{{ url_for('vote', word=word, game_code=game_code, word_num=word_num, show_defs='True') }}" method="POST">
                <label for="next_word"></label>
                <input class="btn-style" style="width: 150px;" type="submit" id="next_word" name="next_word" value="next word">
            </form>
        </div>
        <div class="col-lg-1 col-xs-0"></div>
        <div class="col-lg-3 col-xs-12 blue-box">
            <h2 style="margin-bottom: 30px">scores</h2>
            {% for score in scores %}
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-lg-6 col-xs-6">
                        <h4>{{ score }}</h4>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <h4>{{ scores[score] }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-1 col-xs-0"></div>
    </div>

    <div class="row" id="hideResults">
        <div class="col-lg-12 hidden-message">One of your friends is taking forever to vote...</div>
    </div>

</body>
<script type="text/javascript">
    var show_results = '{{ show_results }}';
    console.log('show results ' + show_results);

    var game_code = '{{ game_code }}';

    var word = '{{ word }}';
    var word_num = '{{ word_num }}';
    console.log('I will console.log as many things as I damn well please');

    $(document).ready(function() {
        if (show_results == 'False') {
            $('#showResultsID').hide();
            $('#hideResults').show();
        }
        else {
            $('#showResultsID').show();
            $('#hideResults').hide();
        }
    });

    function showResultsFunct() {
        $.ajax("{{ url_for('show_vote_results', game_code=game_code, word=word, word_num=word_num) }}").done(function (reply) {
          console.log(reply);
        var res = $($.parseHTML(reply)).find("#showResultsBool").html();
        if (res == 'False') {
            $('#showResultsID').hide();
            $('#hideDefinitions').show();
          }
          else {
            $('#hideDefinitions').hide();
            $('#showResultsID').show();
          }
        });
    }

    //compare and update every 8 seconds
    if (show_results == 'False') {
        setInterval(showResultsFunct, 8000);
    }

</script>
{% endblock %}
