{% extends 'base.html' %}

<title>{% block title %}{% endblock %}</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: transparent; min-height:100%; color:white;">
    <div class="row">
        <div class="col-lg-4 col-xs-0"></div>
        <div class="col-lg-4 col-xs-12">
            <h2 class="show-word"> {{ word }} </h2>
        </div>
        <div class="col-lg-4 col-xs-0"></div>
    </div>
    <div class="row" style="margin: 100px 0">
        <div class="col-lg-3 col-md-1 col-xs-0"></div>
        <div class="col-lg-6 col-md-10 col-xs-12">
            <form action="{{ url_for('new_word', word=word, game_code=game_code, word_num=word_num) }}" method="post">
                <label class="input-label" for="definition">good luck defining {{ word }}...</label>
                <textarea class="def-input" name="definition" id="definition" rows="5" cols="100"></textarea>
                <br/>
                <input class="btn-style" id="definitionSubmit" type="submit" value="submit">
            </form>
        </div>
    <div class="col-lg-3 col-md-1 col-xs-0"></div>
    </div>

</body>
{% endblock %}
