{% extends 'base.html' %}

<title>{% block title %}{% endblock %}</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
{% block content %}
<body style="background-color: transparent; min-height:100%; color:white;">
    <div class="row">
        <div class="col-lg-4 col-xs-0"></div>
        <div class="col-lg-4 col-xs-12">
            <h2 class="show-word">{{ word }}</h2>
        </div>
        <div class="col-lg-4 col-xs-0"></div>
    </div>
    <div id="showDefsBool" style="visibility:hidden">{{ show_defs }}</div>
    <div class="row" style="margin-top: 50px;" id="showDefinitionsID">
        <div class="col-lg-3 col-sm-2 col-xs-0"></div>
        <div class="col-lg-6 col-sm-8 col-xs-12" style="margin-bottom: 50px;">
            <form action="{{ url_for('vote', word=word, game_code=game_code, word_num=word_num, show_defs=show_defs) }}" method="POST">
                {% for definition in definitions %}
                <div class="row">
                    <div class="col-lg-12 radio-defs">
                        <input type="radio" id="definition_{{ definition.definition_id }}" name="definitions" value="{{ definition.definition }}">
                        <label for="definition_{{ definition.definition_id }}">{{ definition.definition }}</label>
                    </div>
                </div>
                {% endfor %}
                <input class="btn-style" id="definitionVote" type="submit" value="vote">
            </form>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-0"></div>
    </div>

    <div class="row" id="hideDefinitions">
        <div id="notReadyMessage" class="col-lg-12 hidden-message">Some people are spending way too much time thinking of a definition. {{ wait_message }}</div>
    </div>

</body>
<script type="text/javascript">
    var show_defs = '{{ show_defs }}';
    console.log('show defs ' + show_defs);

    var game_code = '{{ game_code }}';

    var word = '{{ word }}';
    var word_num = '{{ word_num }}';
    console.log('I will console.log as many things as I damn well please');

    $(document).ready(function() {
        if (show_defs == 'False') {
            $('#showDefinitionsID').hide();
            $('#hideDefinitions').show();
        }
        else {
            $('#hideDefinitions').hide();
            $('#showDefinitionsID').show();
        }
    });
    function showDefinitions() {
        $.ajax("{{ url_for('vote', game_code=game_code, word=word, word_num=word_num, show_defs=show_defs) }}").done(function (reply) {
          console.log(reply);
          var t = $($.parseHTML(reply)).find("#showDefsBool").html();
          console.log('in ajax ' + t);
          if (t == 'False') {
            $('#showDefinitionsID').hide();
            $('#hideDefinitions').show();
          }
          else {
            $('#hideDefinitions').hide();
            var defs_html = $($.parseHTML(reply)).find("#showDefinitionsID").html();
            $('#showDefinitionsID').html(defs_html);
            $('#showDefinitionsID').show();
          }
       });
    };

    //compare and update every 5 seconds
    if (show_defs == 'False') {
        setInterval(showDefinitions, 5000);
    }

</script>
{% endblock %}
